blas
bottleneck
ca-certificates
libcxx
libffi
libgfortran
libgfortran5
libopenblas
llvm-openmp
ncurses
numexpr
numpy
numpy-base
openssl
pandas
pip
python
python-dateutil
python-tzdata
pytz
readline
setuptools
six
sqlite
tk
tzdata
wheel
xz
zlib
